<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtered Movies</title>
</head>
<body>
<h1>Filtered Movies</h1>

<form method="GET" action="/movies">
    <label>Title contains:</label>
    <input type="text" name="title" value="<%= query.title || '' %>">
    <br><br>

    <label>Year:</label>
    <input type="number" name="year" value="<%= query.year || '' %>">
    <br><br>

    <label>Genre:</label>
    <input type="text" name="genre" value="<%= query.genre || '' %>">
    <br><br>

    <label>Cast includes:</label>
    <input type="text" name="castMember" value="<%= query.castMember || '' %>">
    <br><br>

    <label>IMDb Rating greater than:</label>
    <input type="number" name="imdbRating" step="0.1" value="<%= query.imdbRating || '' %>">
    <br><br>

    <button type="submit">Filter</button>
</form>

<hr>

<% if (movies.length === 0) { %>
    <p>No movies found.</p>
<% } else { %>
    <ul>
        <% movies.forEach(movie => { %>
            <li>
                <strong><%= movie.title %></strong>
                <% if (movie.year) { %> (<%= movie.year %>) <% } %><br>
                Genre(s): <%= movie.genres ? movie.genres.join(', ') : 'N/A' %><br>
                Cast: <%= movie.cast ? movie.cast.join(', ') : 'N/A' %><br>
                <% if (movie.imdb && movie.imdb.rating) { %>
                    IMDb Rating: <%= movie.imdb.rating %><br>
                <% } %>
                <em><%= movie.fullplot ? movie.fullplot.slice(0, 200) + '...' : '' %></em>
            </li>
            <hr>
        <% }) %>
    </ul>
<% } %>
</body>
</html>