<!DOCTYPE html>
<html data-theme="<%= theme %>">
<head>
    <link rel="icon" href="/icons/favicon_articles.png">
    <title><%= title_page %></title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<h1><%= title %></h1>
<ul>
    <% articles.forEach(article => { %>
        <li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
    <% }) %>
</ul>
</body>
</html>