<!DOCTYPE html>
<html data-theme="<%= theme %>">
<head>
    <link rel="icon" href="/icons/favicon_article.png">
    <title><%= title_page %></title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<h1><%= title_article %></h1>
<div>
    <span><%= content %></span>
</div>
<div>
    <br>
    <span style="text-decoration-line: underline"><%= author %></span>
</div>
</body>
</html>